/* Estilo para el título del diálogo */
.dialog-title {
    color: #333; /* Color del texto */
    font-size: 24px; /* Tamaño de la fuente */
    margin-bottom: 20px; /* Espacio inferior */
  }
  
  /* Estilo para el botón de cancelar */
  .cancel-button {
    background-color: #f44336; /* Color de fondo */
    color: white; /* Color del texto */
  }
  
  /* Estilo para el botón de aceptar y continuar */
  .accept-button {
    background-color: #4caf50; /* Color de fondo */
    color: white; /* Color del texto */
  }
  