<h2 mat-dialog-title>Resumen de orden</h2>
<mat-dialog-content>
  <h5>codigo de orden:</h5>
  <p>
    <strong>{{ datos.id }}</strong>
  </p>
  <br />
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Tienda donde se realizo la venta</mat-label>
    <mat-select
      [(ngModel)]="idTienda"
      (selectionChange)="onCategorySelected($event)"
      [disabled]="estado"
    >
      <mat-option *ngFor="let store of stores" [value]="store.id">
        {{ store.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />

  <h5>Colocar direccion solo si el cliente pidio delivery</h5>

  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Direccion de envio</mat-label>
    <textarea
      matInput
      [(ngModel)]="direccionEnvio"
      [disabled]="estado"
    ></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>CANCELAR</button>
  <button
    *ngIf="!tipoBock"
    mat-button
    color="primary"
    (click)="guardar()"
    [disabled]="!myForm.valid"
  >
    GUARDAR
  </button>
  <button
    *ngIf="tipoBockM"
    mat-button
    color="primary"
    (click)="modificar()"
    [disabled]="!myForm.valid"
  >
    MODIFICAR
  </button>
  <button *ngIf="tipoBockE" mat-button color="accent" (click)="eliminar()">
    ELIMINAR
  </button>
</mat-dialog-actions>
