<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Lista de Categorias</h1>

    <button mat-flat-button style="background-color: rgb(10, 165, 10); color: white;" (click)="crear()">
        Agregar
        <mat-icon>add</mat-icon>
    </button>
  </div>

<table mat-table [dataSource]="categories" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="#">
    <th mat-header-cell *matHeaderCellDef>NO.</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>DESCRICIÓN</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef class="center-content">ACCIONES</th>
    <td mat-cell *matCellDef="let element" class="center-content">
      <button
        matTooltip="Editar datos"
        matTooltipClass="tooltip-blue"
        mat-icon-button
        aria-label="Clear"
        (click)="editar(element)"
      >
        <mat-icon color="primary">edit</mat-icon>
      </button>
      <button
        matTooltip="Eliminar "
        matTooltipClass="tooltip-red"
        class=""
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="eliminar(element)"
      >
        <mat-icon color="warn">delete_forever</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
