<h2 mat-dialog-title>Tienda</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="myForm" class="form-field-full">
    <div fxLayout="column" fxLayoutGap="16px">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label for="name">Nombre</mat-label>
        <input
          type="text"
          name="name"
          formControlName="name"
          matInput
          placeholder="Nombre"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label for="address">Dirección</mat-label>
        <input
          type="text"
          name="address"
          formControlName="address"
          matInput
          placeholder="Dirección"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label for="city">Ciudad</mat-label>
        <input
          type="text"
          name="city"
          formControlName="city"
          matInput
          placeholder="Ciudad"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label for="openingHours">Horario de atención</mat-label>
        <input
          type="text"
          name="openingHours"
          formControlName="openingHours"
          matInput
          placeholder="Horario de atención"
        />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>CANCELAR</button>
  <button
    *ngIf="!tipoBock"
    mat-button
    color="primary"
    (click)="guardar()"
    [disabled]="!myForm.valid"
  >
    GUARDAR
  </button>
  <button
    *ngIf="tipoBockM"
    mat-button
    color="primary"
    (click)="modificar()"
    [disabled]="!myForm.valid"
  >
    MODIFICAR
  </button>
  <button *ngIf="tipoBockE" mat-button color="accent" (click)="eliminar()">
    ELIMINAR
  </button>
</mat-dialog-actions>
