<div style="display: flex; justify-content: space-between; align-items: center;">
  <h1>Lista de tiendas</h1>

  <button mat-flat-button style="background-color: rgb(10, 165, 10); color: white;" (click)="crear()">
      Agregar
      <mat-icon>add</mat-icon>
  </button>
</div>

<table mat-table [dataSource]="stores" class="mat-elevation-z8">
  <!--- Toma en cuenta que estas columnas pueden definirse en cualquier orden.
        Las columnas que se renderizan realmente se establecen como una propiedad en la definición de fila" -->

  <!-- Columna de Posición -->
  <ng-container matColumnDef="#">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
  </ng-container>

  <!-- Columna de Nombre -->
  <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Columna de Dirección -->
  <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>DESCRIPCIÓN</th>
      <td mat-cell *matCellDef="let element">{{ element.address }}</td>
  </ng-container>

  <!-- Columna de Ciudad -->
  <ng-container matColumnDef="ciudad">
      <th mat-header-cell *matHeaderCellDef>CIUDAD</th>
      <td mat-cell *matCellDef="let element">{{ element.city }}</td>
  </ng-container>

  <!-- Columna de Horario de Atención -->
  <ng-container matColumnDef="atencion">
      <th mat-header-cell *matHeaderCellDef>HORARIO DE ATENCIÓN</th>
      <td mat-cell *matCellDef="let element" class="center-content">{{ element.openingHours }}</td>
  </ng-container>

  <!-- Columna de Acciones -->
  <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
      <td mat-cell *matCellDef="let element">
          <button
              matTooltip="Editar datos"
              matTooltipClass="tooltip-blue"
              mat-icon-button
              aria-label="Editar"
              (click)="editar(element)"
          >
              <mat-icon color="primary">edit</mat-icon>
          </button>
          <button
              matTooltip="Eliminar"
              matTooltipClass="tooltip-red"
              mat-icon-button
              aria-label="Eliminar"
              (click)="eliminar(element)"
          >
              <mat-icon color="warn">delete_forever</mat-icon>
          </button>
      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
