.product-description {
    font-size: 16px; /* Tamaño de fuente */
    line-height: 1.6; /* Altura de línea */
    color: #333; /* Color de texto */
    border: 2px solid #2189ff;
    border-radius: 1.66666667vw;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .product-description p {
    margin: 0; /* Eliminar márgenes predeterminados de los párrafos */
  }
.precio{
    font-family: "SamsungSharpSans", Helvetica;
    color: #2189ff;
    font-size: 40px;
    text-align: center;
}  
.titulo {
    color: #2189ff;
    font-size: 40px;
    text-align: center;
}
.highlight-text {
  color: #007bff; /* Puedes cambiar este color al que desees */
}
.carta{
    padding: 32px;
}
.add_to_cart {
    padding-right: 22px;
    padding-left: 22px;
  text-align: center;
}
.add_to_cart h2.cyber-before {
  font-family: "SamsungSharpSans-Regular", Helvetica;
  font-size: 16px;
  margin-bottom: 10px;
}
.add_to_cart h2.cyber-now {
  font-family: "SamsungSharpSans", Helvetica;
  font-size: 21px;
  color: #13289f;
}
.add_to_cart h2.cyber-now span {
  font-size: 34px;
  color: #01addf;
  display: block;
  margin: 1rem 0;
}
.add_to_cart .btn-sho {
  color: #fff;
  background-color: #2189ff;
  text-shadow: 0 0 3px #000;
  min-width: 212px;
  padding: 10px 24px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  white-space: nowrap;
  margin-top: 15px;
  border: none;
}
.add_to_cart .btn-sho:hover {
  color: #eee;
  background-color: #006ff2;
}
.add_to_cart .quantity .qty_inc_dec {
  position: relative;
}
.add_to_cart .quantity .qty_inc_dec input {
  height: 2.075rem;
  border-radius: 0;
  font-size: 0.875rem;
  border-color: #d8d8d8;
  border-radius: 0.1875rem;
  border-style: solid;
  border-width: 0.0625rem;
  color: #666666;
  margin: 0 0.75rem;
  text-align: center;
}
.add_to_cart .quantity .qty_inc_dec .ctrl-quantity {
  display: inline-block;
  background: #fff;
  color: #000;
  text-align: center;
  font-style: initial;
  cursor: pointer;
  position: absolute;
  top: 0;
  height: 1.875rem;
  width: 1.875rem;
  padding: 0;
  font-size: 28px;
  border: 1px solid #000;
  border-radius: 100rem;
  line-height: 1.675rem;
}
.add_to_cart .quantity .qty_inc_dec .ctrl-quantity:hover {
  background: #000;
  color: #fff;
}
.add_to_cart .quantity .qty_inc_dec .ctrl-quantity.disabled {
  background: #ccc;
  color: #000;
  cursor: not-allowed;
}
.add_to_cart .quantity .qty_inc_dec .ctrl-quantity.increment {
  left: 0;
}
.add_to_cart .quantity .qty_inc_dec .ctrl-quantity.decrement {
  right: 0;
}
