<h2 mat-dialog-title>Productos</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="myForm" class="form-field-full">
    <div fxLayout="column" fxLayoutGap="16px">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label for="name">Nombre</mat-label>
        <input
          type="text"
          name="name"
          formControlName="name"
          matInput
          placeholder="Nombre"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label for="description">Descripcion</mat-label>
        <input
          type="text"
          name="description"
          formControlName="description"
          matInput
          placeholder="Descripcion"
        />
      </mat-form-field>
      
      <div style="display: flex;">
        <mat-form-field appearance="outline" style="width: 50%; margin-right: 10px;">
          <mat-label for="stock">Stock</mat-label>
          <input
            type="number"
            name="stock"
            formControlName="stock"
            matInput
            placeholder="Stock"
            min="0"
            step="1"
          />
        </mat-form-field>
      
        <mat-form-field appearance="outline" style="width: 50%;">
          <mat-label for="price">Price</mat-label>
          <input
            type="number"
            name="price"
            formControlName="price"
            matInput
            placeholder="Price"
            min="0"
            step="any"
          />
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label for="idCategory">Categoria</mat-label>
        <mat-select formControlName="idCategory" name="food">
          @for (food of categories; track food) {
            <mat-option [value]="food.id">{{food.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-checkbox formControlName="active">Activo</mat-checkbox>
      
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>CANCELAR</button>
  <button
    *ngIf="!tipoBock"
    mat-button
    color="primary"
    (click)="guardar()"
    [disabled]="!myForm.valid"
  >
    GUARDAR
  </button>
  <button
    *ngIf="tipoBockM"
    mat-button
    color="primary"
    (click)="modificar()"
    [disabled]="!myForm.valid"
  >
    MODIFICAR
  </button>
  <button *ngIf="tipoBockE" mat-button color="accent" (click)="eliminar()">
    ELIMINAR
  </button>
</mat-dialog-actions>
