<div style="display: flex; justify-content: space-between; align-items: center">
  <h1>Lista de Productos</h1>

  <button
    mat-flat-button
    style="background-color: rgb(10, 165, 10); color: white"
    (click)="crear()"
  >
    Agregar
    <mat-icon>add</mat-icon>
  </button>
</div>

<table mat-table [dataSource]="products" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="#">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>DESCRIPCIÓN</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <ng-container matColumnDef="stock">
    <th mat-header-cell *matHeaderCellDef>UNIDADES</th>
    <td mat-cell *matCellDef="let element" class="center-content">{{ element.stock }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>PRECIO</th>
    <td mat-cell *matCellDef="let element"><strong>{{ element.price }}$</strong></td>
  </ng-container>

  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef>HABILITADO</th>
    <td mat-cell *matCellDef="let element">
      <mat-slide-toggle [checked]="element.active" color="primary" (change)="onToggleChange(element, $event)">
      </mat-slide-toggle>
    </td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <button
        matTooltip="Editar datos"
        matTooltipClass="tooltip-blue"
        mat-icon-button
        aria-label="Clear"
        (click)="editar(element)"
      >
        <mat-icon color="primary">edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
