.example-spacer {
    flex: 1 1 auto;
  }
  
  :host {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Cambiado a 'stretch' para alinear los hijos */
  }
  
  .demo-section + .demo-section {
    margin-top: 16px;
  }
  
  .sidebar-container {
    display: flex;
    height: 90vh; /* Cambiado a 80vh para utilizar el 80% del alto de la ventana */
  }
  
  .sidebar {
    flex: 0 0 10%; /* Ocupa el 20% del ancho */
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .main-content {
    flex: 1; /* Ocupa el resto del ancho */
    padding: 20px;
  }
  .button {
    box-shadow: inset 0 1px 0 0 #ffffff;
    background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    outline: 0;
}
.activebutton {
    box-shadow: inset 0 1px 0 0 #dcecfb;
    background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    border: 1px solid #84bbf3;
    color: #ffffff;
    text-shadow: 0 1px 0 #528ecc;
}
.example-button-row {
    display: flex;
    flex-direction: column;
  }
  
  .example-button-row button {
    max-width: 200px; /* Ancho máximo */
    margin-bottom: 8px; /* Espacio entre botones */
  }
  