<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>TOP-Electronic Store</span>
  <span class="example-spacer"></span>
  <button mat-icon-button routerLink="/carrito" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon matBadge={{getCounter()}} matBadgeColor="warn">shopping_cart</mat-icon>
      <!-- Include text description of the icon's meaning for screen-readers -->
      <span class="cdk-visually-hidden">
        Example with a home icon with overlaid badge showing the number 15
      </span>
  </button>
</mat-toolbar>

<div class="sidebar-container">
  <div class="sidebar">
    <div class="example-button-row">
      <button mat-button routerLink="/inicio" color="primary">Inicio</button>
      <mat-divider></mat-divider>
      <button mat-button routerLink="/tienda" color="primary">Tiendas</button>
      <mat-divider></mat-divider>
      <button mat-button routerLink="/categoria" color="primary">Categorias</button>
      <mat-divider></mat-divider>
      <button mat-button routerLink="/producto" color="primary">Productos</button>
      <mat-divider></mat-divider>
      <button mat-button routerLink="/ordenes" color="primary">Ordenes</button>
    </div>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
