<div style="display: flex; justify-content: space-between; align-items: center">
  <h1>Lista de Ordenes</h1>
  <button mat-flat-button style="background-color: rgb(10, 165, 10); color: white;" (click)="crear()">
    Agregar
    <mat-icon>add</mat-icon>
</button>
</div>

<table mat-table [dataSource]="orders" class="mat-elevation-z0">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="#">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.store.name }}</td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef>CIUDAD</th>
    <td mat-cell *matCellDef="let element">{{ element.store.city }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>FECHA</th>
    <td mat-cell *matCellDef="let element">{{ element.date }}</td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>DIRECCIóN</th>
    <td mat-cell *matCellDef="let element">{{ element.shippingAddres }}</td>
  </ng-container>
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef>VENTA</th>
    <td mat-cell *matCellDef="let element">
        <button
        matTooltip="Eliminar "
        class=""
        matSuffix
        mat-icon-button
      >
      <mat-icon [style.color]="element.isDelivery ? '#007bff' : '#28a745'">{{ element.isDelivery ? 'local_shipping' : 'store' }}</mat-icon>
      </button>
        
    </td></ng-container
  >

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef class="center-content">ACCIONES</th>
    <td mat-cell *matCellDef="let element" class="center-content">
      <button
        matTooltip="Editar datos"
        matTooltipClass="tooltip-blue"
        mat-icon-button
        aria-label="Clear"
        (click)="editar(element)"
      >
        <mat-icon color="default">list</mat-icon>
      </button>
      <button
        matTooltip="Editar datos"
        matTooltipClass="tooltip-blue"
        mat-icon-button
        aria-label="Clear"
        (click)="editar(element)"
      >
        <mat-icon color="primary">edit</mat-icon>
      </button>
      <button
        matTooltip="Eliminar "
        matTooltipClass="tooltip-red"
        class=""
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="eliminar(element)"
      >
        <mat-icon color="warn">delete_forever</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
