.icon-container {
    display: flex;
    justify-content: center;
  }
  
  .icon {
    font-size: 24px; /* Tamaño del icono */
    margin: 0 auto; /* Alinear al centro horizontalmente */
  }
  
  .center-content {
    text-align: center;
  }