<div style="display: flex; justify-content: space-between; align-items: center">
    <h1>Lista de Productos a la venta</h1>
  </div>
  
  <table mat-table [dataSource]="products" class="mat-elevation-z8">

    <ng-container matColumnDef="#">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>DESCRIPCIÓN</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>
  
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef class="center-content">UNIDADES</th>
      <td mat-cell *matCellDef="let element" class="center-content" [style.color]="element.stock === 0 ? 'red' : 'inherit'">
        {{ element.stock === 0 ? 'Agotado' : element.stock }}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>PRECIO</th>
      <td mat-cell *matCellDef="let element"><strong>{{ element.price }}$</strong></td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
      <td mat-cell *matCellDef="let element">
        <button matTooltip="Compar" (click)="editar(element)" mat-raised-button color="primary" [disabled]="(element.stock <= 0) ">
            COMPRAR
          </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  